
nav{
  background-color: #f2f2f2;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;


    li{
      padding: 0;
      margin: 0;

    }

    a{
      text-decoration: none;
      color: black;
    }
    button{
      font-weight: bold;
      padding: 10px 20px;
    }
  }
}

